@using VotingApp.Models;
@model IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-2 g-3 my-2 ">
    <div class="col">
        <div class="card text-dark bg-light">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="fw-bolder">Voters</h4>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <button type="button" class="btn btn-outline-secondary" 
                                data-bs-toggle="modal" data-bs-target="#addVoterModal"
                                data-toggle="tooltip" title="Add Voter">
                                <img src="~/add.ico" class="img-fluid" height="25" width="25" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th style="width: 20%" scope="col">Has voted</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (Voter voter in Model.Voters)
                        {
                            <tr>
                                <td>@voter.Name</td>
                                @if(voter.VotedCandidateId.HasValue)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-dark bg-light">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="fw-bolder">Candidates</h4>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <button type="button" class="btn btn-outline-secondary"
                                    data-bs-toggle="modal" data-bs-target="#addCandidateModal"
                                    data-toggle="tooltip" title="Add Candidate">
                                <img src="~/add.ico" class="img-fluid" height="25" width="25" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th style="width: 20%" scope="col">Votes</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (Candidate candidate in Model.Candidates)
                        {
                            <tr>
                                <td>@candidate.Name</td>
                                <td>@candidate.Votes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center card text-dark bg-light mt-3">
    <h4 class="card-header fw-bolder">Vote!</h4>
    <div class="card-body align-middle">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectVoter" aria-label="Select Voter">
                            @foreach (Voter voter in Model.Voters)
                            {
                                <option value=@voter.Id>@voter.Name</option>
                            }
                        </select>
                        <label for="floatingSelectVoter">I am</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectCandidate" aria-label="Select Candidate">
                        @foreach (Candidate candidate in Model.Candidates)
                        {
                            <option value=@candidate.Id>@candidate.Name</option>
                        }
                        </select>
                        <label for="floatingSelectCandidate">I vote for</label>
                    </div>                    
                </div>
                <div class="col-3 col-md-2">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Add Voter -->
<div class="modal fade" id="addVoterModal" tabindex="-1" aria-labelledby="addVoterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addVoterModalLabel">Add Voter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="input" placeholder="Name">
                        <label for="input">Name</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add Candidate -->
<div class="modal fade" id="addCandidateModal" tabindex="-1" aria-labelledby="addCandidateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addCandidateModalLabel">Add Candidate</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="input" placeholder="Name">
                        <label for="input">Name</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
